{$SERVER_NAME}

log

root * /srv/koillection/public

php_fastcgi unix//run/php/php8.2-fpm.sock

encode zstd gzip
file_server

header {
     Permissions-Policy interest-cohort=()
     X-Frame-Options SAMEORIGIN;
     X-Content-Type-Options nosniff;
     X-XSS-Protection "1; mode=block";
     Referrer-Policy no-referrer;
     Strict-Transport-Security "max-age=31536000; includeSubdomains; preload";
     Service-Worker-Allowed "/";
}